<md-card>
    <md-toolbar>
        <span>Main Menu</span>
    </md-toolbar>
    <md-tab-group>
        <md-tab label="Take Register">
            <br/>
            <md-card-title>Start the register for this session</md-card-title>
            <md-select placeholder="Session" [(ngModel)]="session" [style.width]="'100%'">
                <md-option *ngFor="let schedule of sessionsToday" [value]="schedule">
                    {{ formatDate(schedule.onDate) }} - {{ schedule.event }}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <br/>
            <button md-raised-button color="primary" [routerLink]="['/scan', session._id]">Submit</button>
        </md-tab>
        <md-tab label="Session Records">
            <br/>
            <md-card-title>View all attendance for a session</md-card-title>
            <md-select placeholder="Record" [(ngModel)]="session" [style.width]="'100%'">
                <md-option *ngFor="let schedule of sessions" [value]="schedule">
                    {{ formatDate(schedule.onDate) }} - {{ schedule.event }}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <br/>
            <button md-raised-button color="primary" [routerLink]="['/attendance/session', session._id]">Submit</button>
        </md-tab>
        <md-tab label="Student Records">
            <br/>
            <md-card-title>View all attendance for a student</md-card-title>
            <md-select placeholder="Record" [(ngModel)]="student" [style.width]="'100%'">
                <md-option *ngFor="let student of students" [value]="student">
                    {{ student.name }}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <br/>
            <button md-raised-button color="primary" [routerLink]="['/attendance/student', student.tag]">Submit</button>
        </md-tab>
    </md-tab-group>
</md-card>
