<h2 md-dialog-title>Register</h2>
<md-dialog-content>Enter your name to register</md-dialog-content>
<md-dialog-actions>
    <md-list>
        <md-list-item>
            <form>
                <md-form-field>
                    <input type="text" placeholder="Enter Name" mdInput [formControl]="control" [mdAutocomplete]="auto">
                    <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                        </md-option>
                    </md-autocomplete>
                </md-form-field>
            </form>
        </md-list-item>
        <md-list-item>
            <button md-button md-raised-button
                    color="primary"
                    disabled="{{options.indexOf(control.value) === -1}}"
                    [md-dialog-close]="control.value">
                Confirm
            </button>
        </md-list-item>
    </md-list>
</md-dialog-actions>
