<h2>Registration Form</h2>

<br/>

<nav>
    <a routerLink="/connect" routerLinkActive="active">Connect</a>
</nav>

<div *ngIf="!registered">
    <ng2-completer
            [(ngModel)]="fullName"
            [datasource]="allowedNames"
            [minSearchLength]="0"
            class="form-control"
            placeholder="Full Name"
            autoMatch=true
            autofocus=true
            clearUnselected=true
            required>
    </ng2-completer>

    <br/>

    <button
            type="submit"
            class="{{ 'btn ' + (isNameValid() ? 'btn-success' : 'disabled') }}"
            (click)="onSubmit()">
        Submit
    </button>
</div>

<div *ngIf="registered">
    <h2>You are now successfully registered!</h2>
</div>
